body {
    margin: 0px;
    background-color: rgb(82, 122, 241);
}

.nav-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: navy;
    padding: 15px;
    font-family: cursive;
    font-size: 20px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

h1, h2, h3, p {
    color: navy;
    font-family: cursive;
    margin-left: 8px;
}
h1, h2 {
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

table {
    font-family: cursive;
    font-size: 20px;
    color: navy;
    border-style: dotted;
    border-color: navy;
    background-color: royalblue;
}

img {
    width: 100px;
    height: 80px;
    border-radius: 15%;
}

@media screen and (max-width: 600px) {
    div {
        flex-direction: column;
    }
    img {
        max-width: fit-content;
    }
}